$color-background: #0e0e10;
$color-border: #2b2b2e;
$color-navigation: #1f1f23;
$color-accent: #9147ff;
$color-text: #efeff1;

$icon-background: #53535f;
$icon-foreground: #9c9ca8;
$icon-shadow: #2e2e36;

html {
  font-family: 'Museo Sans', sans-serif;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: $color-background;
  color: $color-text;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

h1 {
  font-size: 38px;
  margin: 15px 0 20px;
}

h2 {
  font-size: 28px;
}

#app {
  display: flex;
}

.navigation {
  display: flex;
  flex-direction: column;
  background-color: $color-navigation;
  height: 100vh;
  width: 310px;
  padding: 20px;

  h1 {
    font-family: Vollkorn;
    font-weight: 700;
    letter-spacing: -0.3px;

    span.pink {
      color: $color-accent;
    }

    span.white {
      color: $color-text;
    }
  }

  .item {
    display: flex;
    align-items: center;

    height: 70px;
    width: 310px;
    border: 10px solid transparent;
    margin: 0 -20px;
    padding: 0;
    vertical-align: middle;

    background-color: $color-navigation;
    color: $color-text;
    font-size: 20px;
    letter-spacing: 0.5px;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;

    &.focused {
      background-color: $color-background;
      border-color: $color-accent;
      cursor: pointer;
    }

    &::-moz-focus-inner {
      border: 0;
    }

    &.sselected {
      background: $color-background;
    }

    svg {
      margin: 0 40px 0 20px;
    }
  }

  .separator {
    flex-grow: 1;
  }
}

.view {
  flex-grow: 1;
  padding: 20px;
  width: calc(100vw - 350px);

  .preview {
    background: $icon-background;
    color: $icon-foreground;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icon {
    width: 60%;
    height: 60%;
    box-shadow: (0 0 $icon-shadow);
    filter: drop-shadow(-18px 16px 1px $icon-shadow);
    margin-right: -5%;
  }

  .list {
    width: 100%;
    overflow-x: hidden;
    white-space: nowrap;

    .item {
      display: inline-block;
      color: $color-text;
      text-decoration: none;
      border: 10px solid transparent;
      vertical-align: top;

      .titles {
        font-size: 20px;
        line-height: 1.35;
        padding: 8px;
      }

      .title {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: bold;
        margin-bottom: 5px;
      }

      .subtitle {
        display: block;
      }

      &.focused {
        border-color: $color-accent;
        cursor: pointer;
      }

      &::-moz-focus-inner {
        border: 0;
      }
    }

    .streamItem {
      width: 460px;

      .preview {
        height: 248px;
        width: 440px;
      }
    }

    .gameItem {
      width: 208px;

      .preview {
        height: 250px;
        width: 188px;
      }
    }
  }
}


#twitch-embed {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
}
