$color-background: #0e0e10;
$color-border: #2b2b2e;
$color-navigation: #1f1f23;
$color-accent: #9147ff;
$color-text: #efeff1;

$icon-background: #53535f;
$icon-foreground: #9c9ca8;
$icon-shadow: #2e2e36;

html {
  font-family: 'Museo Sans', sans-serif;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: $color-background;
  color: $color-text;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

h1 {
  font-size: 38px;
  margin: 15px 0 20px;
}

h2 {
  font-size: 32px;
}

#app {
  display: flex;
}

.navigation {
  display: flex;
  flex-direction: column;
  background-color: $color-navigation;
  height: 100vh;
  width: 310px;
  padding: 20px;

  h1 {
    font-family: Vollkorn;
    font-weight: 700;
    letter-spacing: -0.3px;

    span.pink {
      color: $color-accent;
    }

    span.white {
      color: $color-text;
    }
  }

  .item {
    display: flex;
    align-items: center;

    height: 80px;
    width: 310px;
    border: 10px solid transparent;
    margin: 0 -20px;
    padding: 0;
    vertical-align: middle;

    background-color: $color-navigation;
    color: $color-text;
    font-size: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;

    &.active {
      background-color: $color-background;
    }

    &.focused {
      border-color: $color-accent;
      cursor: pointer;
    }

    &::-moz-focus-inner {
      border: 0;
    }

    &.selected {
      background: $color-background;
    }

    svg {
      margin: 0 20px;
    }
  }

  .separator {
    flex-grow: 1;
  }
}

.view {
  flex-grow: 1;
  border: 20px solid transparent;
  width: calc(100vw - 310px);

  .input-wrapper {
    border: 10px solid $color-background;
    padding: 0;

    &.focused{
      border-color: $color-accent;
    }

    &:has(.focused) {
      border-color: $color-accent;
    }
  }

  .input {
    height: 60px;
    padding: 10px;
    font-size: 20px;
  }

  .button {
    height: 80px;
    border: 10px solid $color-background;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;

    &.focused {
      border-color: $color-accent;
      background: $color-accent;
      color: $color-text;
    }
  }

  .preview {
    background: $icon-background;
    color: $icon-foreground;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .list {
    width: calc(100% + 40px);
    margin: 0 -20px;
    padding: 0 20px;
    overflow-x: scroll;
    white-space: nowrap;
    -ms-overflow-style: none;  // Internet Explorer 10+
    scrollbar-width: none;     // Firefox

    &::-webkit-scrollbar {
      display: none;  // Safari and Chrome
    }

    .item {
      display: inline-block;
      color: $color-text;
      text-decoration: none;
      border: 10px solid transparent;
      vertical-align: top;

      .titles {
        line-height: 1.35;
        padding: 8px;
      }

      .title {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 5px;
      }

      .subtitle {
        display: block;
        font-size: 22px;
      }

      &.focused {
        border-color: $color-accent;
        cursor: pointer;
      }

      &::-moz-focus-inner {
        border: 0;
      }
    }

    .streamItem {
      width: 460px;

      .preview {
        height: 248px;
        width: 440px;
      }
    }

    .gameItem {
      width: 208px;

      .preview {
        height: 250px;
        width: 188px;
      }
    }

    .icon {
      width: 60%;
      height: 60%;
      box-shadow: (0 0 $icon-shadow);
      filter: drop-shadow(-18px 16px 1px $icon-shadow);
      margin-right: -5%;
    }
  }

  .searchHeader {
    display: flex;
    flex-direction: row;
  }

  .history {
    border: 10px solid transparent;
    border-right: 0;
    width: 200px;
  }

  .historyItem {
    background: none;
    border: 10px solid transparent;
    padding: 0;
    display: block;
    color: $color-text;
    font-size: 20px;
    width: 100%;
    text-align: left;

    .icon {
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }

    &.focused {
      background: $color-accent;
      border-color: $color-accent;
    }
  }
}


.twitch-embed {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;

  > * {
    width: 100%;
    height: 100%;
  }
}
